.Left-sidebar-button{
    background-color: #aecb90;
    color: #632A0f;
    height: 60px;
    width: 180px;
    border-radius: 15px;
    cursor: pointer;
    font-family: cursive;
    font-size: x-large;
    font-weight: bold;
    border: solid;
    border-color: black;
    margin-right: 25px;
    margin-top: 1px;
    vertical-align: top;
    transition: 500ms;
  }
.Left-sidebar-button:hover {
    opacity: 0.75;
    background-color: black;
    color: #aecb90;
    border-color: #632A0f;
    margin-top: 7px;
    margin-left: 7px;
  }
.Left-sidebar-button:active {
    opacity: 0.45;
    transition: 0ms;
  }
.mail{
    font-size: xx-small;
    width: 10px;
    color: white;
  }
.Home-Page{
    font-style: italic;
    font-variant: small-caps;
    text-align: center;
    margin-left: 400px;
  }
.Header{
    font-size: 60px;
    font-weight:bold;
    font-style: italic;
    font-family: 'Mea Culpa', cursive;
    text-align: center;
    margin-bottom: 3px;
    display: inline-block;
  }
.Family{
    font-size: 26px;
    text-align: center;
    font-family: 'Mea Culpa', cursive ;
  }
.page-head{
  height: flex;
  border-width: 2px;
  border-color: black;
  }
.website-logo{
  display: inline;
  border: black;
}
.website-family{
  display: inline;
  text-align: center;
  font-family: 'Mea Culpa', cursive ;
}
.Welcome{
  text-align: center;
  font-weight: bolder;
  font-size: 45px;
  border-color: black;

  
}
.Welcome-Family{
  display: inline;
}
.social{
  height: 36px;
  border-radius: 18px;
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
}
.Homepage-Logo{
  height: 150px;
  vertical-align: middle;
}
.header-button{
  height: 35px;
  width: 100px;
  vertical-align: bottom;
  border: none;
  cursor: pointer;
  background-color: #FFFBEE;
  font-size: x-large;
  transition: 250ms;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 70px;
  display: flex;
  
}
.title-bar{
  background-color: #FFFBEE;
  margin: 0px; /* All sides: 0px */
  display: flex;
}

,.header-button:hover {
  background-color: #351d11;
  color: #aecb90;
}

.Homepage-Body{
  background-color: #351d11;
  height: 600px;
  margin-top: 0px;
  color: #878b5a;
}

.Menu-Div{
  background-color: #878b5a;
  margin: 0px; /* All sides: 0px */
}

.Menu-Item{
  width: 350px;
  display: inline-block;
}

.Menu-Image{
  width: 200px;
  height: 200px;
  border-radius: 50px;
  margin-left: 75px;
  margin-top: 20px;
}

.Menu-Item-Name{
  text-align: center;
  font-weight: 900;
  color: #FFFBEE;
  font-style: italic;
  font-size: larger;
}

.Menu-Item-Desc{
  color: #FFFBEE;
  margin-left: 8px;

}